
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"><h2>Word Store</h2></a>
    <form class="form-inline" action="" method="post">
        <select class="custom-select" name='idiom_select' id='idiom_select'>
            <option selected value="Spanish">Spanish</option>
            <option value="English">English</option>
            <option value="German">German</option>
            <option value="Japanese">Japanese</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Russian">Russian</option>
        </select>
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Submit">Add</button>
    </form>
</nav>

<!-- Cuerpo de la pagina -->

<div class="container">
        <div class="row">
          <div class="col">
        
          </div>
          <div class="col-8">

                <div class="alert alert-success" role="alert">
                        Last saved words
                    </div>
                    
                    {% if latest_word_list %}
                    <ul class="list-group">
                    {% for word in latest_word_list %}
                        
                            <li class="list-group-item">
                                <div class="media">
                                    <img class="mr-3" src="{{word.url_imagen}}" alt="Generic placeholder image" width="100" height="100">
                                    <div class="media-body">
                                        <h5><a href="{% url 'wordstore:detail' word.id %}">{{ word.word }}</a></h5>
                                            <ul>
                                                <li><b>{{ word.translation }}</b></li>
                                                <li>{{ word.pub_date }}</li>
                                            </ul>
                                    </div>
                          </div>
                        </li>
                    
                    {% endfor %}
                    </ul>
                    {% else %}
                    <p>No Word are available.</p>
                    {% endif %}

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>

          </div>
          <div class="col">
        
          </div>
        </div>
</div>
